<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
	</head>
	<body>

		<div id="app"></div>

		<template id="my-app">
			<h2>电影列表</h2>
			<ul>
				<li v-for="movie in movies">{{movie}}</li>
			</ul>
			<div>
				<input type="text" v-model="movieName" />
			</div>

			<button type="button" @click="addMovie">添加电影</button>
			<p>{{info}}</p>
		</template>

		<script src="../js/vue.js"></script>
		<script>
			const App = {
				template: "#my-app",
				data() {
					return {
						movies: [
							"星际穿越",
							"大话西游",
							"盗梦空间",
							"教父",
							"葫芦娃大战变形金刚"
						],
						movieName: '',
						info: ''
					}
				},
				methods: {
					addMovie() {
						if (this.movieName != '') {
							this.movies.push(this.movieName)
							this.movieName = ''
							this.info = ''
						} else {
							this.info = '您的操作有误，请重新操作'
						}
					}
				}
			}

			Vue.createApp(App).mount('#app')
		</script>
	</body>
</html>
